<div class="container">
  <h2 *ngIf="!product">Produkten kunde inte hittas</h2>

  <div *ngIf="product">
    <div class="product-details-container">
      <div class="details-product-image-container">
        <div *ngIf="product.isNew" class="new-badge">Nyhet</div>
        <img [src]="'http://localhost:3000' + product.image" [alt]="product.name" class="details-product-image" />
        <div class="details-favorite-icon">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="details-product-info">
        <h1 class="details-product-title">{{ product.name }}</h1>
        <p class="details-product-brand">{{ product.brand }}</p>
        <p class="details-product-description">{{ product.description }}</p>
        <p class="details-product-price">{{ product.price }} SEK</p>
        <button class="add-to-cart-button">Lägg i varukorg</button>
      </div>
    </div>

    <div class="carousel-container" *ngIf="similarProducts.length > 0">
      <h2>Liknande produkter</h2>
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <ng-container *ngFor="let group of similarProductsGrouped(); let i = index">
            <div class="carousel-item" [class.active]="i === 0">
              <div class="row">
                <div *ngFor="let item of group" class="col-md-4">
                  <a [routerLink]="['/products', item.slug]" class="similar-product-card">
                    <img [src]="'http://localhost:3000' + item.image" class="d-block w-100" [alt]="item.name" />
                    <div class="similar-product-info">
                      <span class="similar-product-title">{{ item.name }}</span>
                      <span class="similar-product-price">{{ item.price }} SEK</span>
                    </div>
                    <p class="similar-product-brand">{{ item.brand }}</p>
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Föregående</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Nästa</span>
        </button>
      </div>
    </div>
  </div>
</div>