<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Shopping
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
        <div class="accordion-body">
          <ul>
            <li><a href="#">T-shirts</a></li>
            <li><a href="#">Hoodies</a></li>
            <li><a href="#">Toppar</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Mina Sidor
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
        <div class="accordion-body">
          <ul>
            <li><a href="#">Mitt konto</a></li>
            <li><a href="#">Beställningar</a></li>
            <li><a href="#">Returnera artikel</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Kundtjänst
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
        <div class="accordion-body">
          <ul>
            <li><a href="#">Kontakta oss</a></li>
            <li><a href="#">Köpvillkor</a></li>
            <li><a href="#">Returpolicy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <p>© 2024 Freaky Fashion</p>
  </footer>