<main>

  <div class="hero-container" *ngIf="hero">
    <img *ngIf="hero" [src]="'http://localhost:3000' + hero.image" alt="Hero" />
  </div>

  <div class="spots-wrapper">
    <app-spots></app-spots>
  </div>

  <div class="product-container">
    <a *ngFor="let product of products" [routerLink]="['/products', product.slug]" class="product-card">
      <div *ngIf="product.isNew" class="new-badge">Nyhet</div>
      <img [src]="'http://localhost:3000' + product.image" [alt]="product.name" class="product-image" />
      <div class="product-favorite-icon">
        <i class="fa-regular fa-heart"></i>
      </div>
      <div class="product-info">
        <p class="product-title">
          {{ product.name }}
          <span class="product-price">{{ product.price }} SEK</span>
        </p>
        <p class="product-brand">{{ product.brand }}</p>
      </div>
    </a>
  </div>

</main>